---
layout: home
title: GitHub Projects
description: Software and image processing projects
image: /assets/img/GitHub-Mark-Light-120px-plus.png
permalink: /projects
menu: true
menuname: GitHub Projects
menuorder: 3
octiconname: mark-github
---

<div class="container-lg p-responsive">
  {% assign len = site.data.projects.projects.size | minus: 1 %}
  {% for a in (0..len) %}
  {% assign rem = a|modulo: 2 %}
  {% assign next = a|plus: 2 %}
  {% if rem == 0 %}
  <div class="d-flex flex-column flex-sm-row">
    {% for project in site.data.projects.projects offset:a limit:next %}
    <div class="col-md-7 Box-project">
      <h2 class="alt-h3 mb-2">
        {% octicon terminal height:28 class:"fill-blue d-inline mr-2" %}
        {{ project.title }}
      </h2>
      <p style="margin-bottom: 20px">
        {{ project.description }}
      </p>
      <p class="text-center">
        <a href="{{ project.link }}" class="fade-on-hover learn-more-link text-white text-bold" target="_blank" aria-label="Learn more about the project {{ project.title }}">LEARN MORE{% octicon chevron-right height:16 %}</a>
      </p>
    </div>
    <br>
    {% endfor %}
  </div>
  {% endif %}
  {% endfor %}
</div>
