---
layout: home
title: Projects
description: Projects
image: /assets/img/favicon-1210x1210.png
menu: false
menuorder: 3
menuname: Projects
permalink: /projects
octiconname: mark-github
---
<div class="container-lg p-responsive">
    {% assign len = site.data.projects.projects.size | minus: 1 %}
    {% for a in (0..len) %}
    {% assign rem = a|modulo: 2 %}
    {% assign next = a|plus: 2 %}
    {% if rem == 0 %}
    <div class="d-flex flex-column flex-sm-row">
      {% for project in site.data.projects.projects offset:a limit:next %}
        <div class="col-md-7 Box-project">
            <a href="{{ project.link }}" target="_blank" class="text-white no-underline">
                <h2 class="alt-h3 mb-2">
                  {% octicon terminal height:28 class:"fill-blue d-inline mr-2" %}
                  {{ project.title }}
                </h2>
                <p style="margin-bottom: 20px">
                  {{ project.description }}
                </p>
            </a>
        </div>
        <br>
      {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
  </div>