---
layout: home
title: Software Development
description: A full stack cloud developer with an experience of 2 years 7 months
permalink: /software
menu: true
menuname: Work
menuorder: 1
---
</div><!-- ends .full-width that started in header.html -->
<section>
<div class="container-xl p-responsive page-row">
  <div class="mb-3 mb-md-5 col-md-6 page-two-column">
    <h2 class="alt-h2 box-around-heading">
      Work Experience
    </h2>
    <br>
    {% for experience in site.data.work_experience.experiences %}
    <p><span style="font-size: 200%; line-height: 2.5"><a href={{experience.link}}>{{experience.company}}</a></span>&nbsp;&nbsp;&nbsp;&nbsp;{{experience.location}}</p>
    <ul style="list-style-type: none"><span style="font-size: 150%">Roles</span>
      {% for role in experience.roles %}
      <li style="margin: 5%">
        <span style="color: #2D86FB;"><b>{{role.title}}</b></span>
        <span class="time-period">{{role.duration}}</span>
      </li>
      {% endfor %}
    </ul>
    <ul style="list-style-type: none"><span style="font-size: 150%">Projects</span>
      {% for project in experience.projects %}
      <li style="margin: 5%">
        <span style="color: #2D86FB;"><b>{{project.title}}</b></span>
        <span class="time-period">{{project.duration}}</span>
        <div class="d-md-flex text-gray">
          <div class="col-md-10 pr-md-4">
            <p></p>
            {% for task in project.tasks %}
            <div class="d-flex mb-2">
              <div class="mr-2">
                {% octicon check width:18 class:"fill-green" aria-label:check %}
              </div>
              <p class="">
                {{task.desc}}
              </p>
            </div>
            {% endfor %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>


  <div class="mb-3 mb-md-5 col-md-4 page-two-column">
    <h2 class="alt-h2 box-around-heading">
      Skills
    </h2>
    <br>
    <p style="font-size: 150%; line-height: 2; color: #2D86FB">Categories</p>
    <table class="skills-table">
      <colgroup>
        <col span="1" width="37%">
        <col span="1" width="37%">
        <col span="1" width="33%">
      </colgroup>
      <tr>
        <td class="cat"><a class="btn btn-outline btn-blue btn-large server">Server</a></td>
        <td class="cat"><a class="btn btn-outline btn-blue btn-large ui">UI</a></td>
        <td class="cat"><a class="btn btn-outline btn-blue btn-large cloud">Cloud</a></td>
      </tr>
      <tr>
        <td class="cat"><a class="btn btn-outline btn-blue btn-large testing">Testing</a></td>
        <td class="cat"><a class="btn btn-outline btn-blue btn-large bigdata">Bigdata</a></td>
        <td class="cat"><a class="btn btn-outline btn-blue btn-large scripting">Scripting</a></td>
      </tr>
      <tr>
        <td class="cat"></td>
        <td class="cat"><a class="btn btn-outline btn-blue btn-large cicd">CI/CD</a></td>
        <td class="cat"></td>
      </tr>
    </table>

    <p style="font-size: 200%; line-height: 1.5; color: #2D86FB">Pro</p>

    <div class="d-md-flex text-gray">
      <div class="col-md-12 pr-md-4">

        <table class="skills-table">
          <colgroup>
            <col span="1" width="8%">
            <col span="1" width="38%">
            <col span="1" width="8%">
          </colgroup>
          <tr>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="server-skill">
              Java
            </td>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="ui-skill">
              Javascript
            </td>
          </tr>
          <tr>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="ui-skill">
              jQuery
            </td>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="cicd-skill">
              GIT
            </td>
          </tr>
          <tr>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="ui-skill">
              KnockoutJs
            </td>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="server-skill">
              Linux
            </td>
          </tr>
          <tr>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td>
              Maven
            </td>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td>
              Gradle
            </td>
          </tr>
          <tr>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="cloud-skill">
              Docker
            </td>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="testing-skill">
              Cucumber framework
            </td>
          </tr>
          <tr>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td>
              Oracle DB
            </td>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="cloud-skill">
              Oracle Cloud (OCI)
            </td>
          </tr>
          <tr>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="cicd-skill">
              Teamcity
            </td>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="bigdata-skill">
              Kafka
            </td>
          </tr>
          <tr>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="cicd-skill">
              Jenkins
            </td>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td>
              Machine Learning
            </td>
          </tr>
          <tr>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td>
              Algorithms
            </td>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td>
              Data Structures
            </td>
          </tr>
          <tr>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="scripting-skill">
              Bash
            </td>
<!--            <td>-->
<!--              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}-->
<!--            </td>-->
<!--            <td>-->
<!--              Data Structures-->
<!--            </td>-->
          </tr>
        </table>
      </div>
    </div>
    <p style="font-size: 200%; line-height: 2; color: #2D86FB">Intermediate</p>

    <div class="d-md-flex text-gray">
      <div class="col-md-11 pr-md-4">

        <table class="skills-table">
          <colgroup>
            <col span="1" width="8%">
            <col span="1" width="38%">
            <col span="1" width="8%">
          </colgroup>
          <tr>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td>
              C
            </td>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="scripting-skill">
              Python
            </td>
          </tr>
          <tr>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="cloud-skill">
              Kubernetes
            </td>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="bigdata-skill">
              Scala
            </td>
          </tr>
          <tr>
            <td>
              {% octicon square width:18 class:"fill-green-dark" aria-label:check %}
            </td>
            <td class="bigdata-skill">
              Spark
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</section>
