<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="3dVARbglAN37iQky98_XcrhKKQemd16re0YY6kMOkZE" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GPBWW94V7C"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-GPBWW94V7C');
    </script>
    <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | relative_url }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    {% seo %}
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">

  <div class="page-header pt-4 pb-5">
    <div class="container-lg">
      <div class="text-center">
<!--        <a href="{{ "/" | relative_url}}"><img class="logo py-3" src="{{ "/assets/img/logomark.svg" | relative_url}}" alt="GitHub and Government"></a>-->
        <ul>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="https://twitter.com/pardhumadipalli" class="text-white" target="_blank" >Twitter</a></li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="https://github.com/PardhuMadipalli" class="text-white" target="_blank" >GitHub</a></li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="/" class="btn btn-outline btn-transparent btn-large" >Home</a></li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="https://www.linkedin.com/in/pardhumadipalli/" class="text-white" target="_blank" >LinkedIn</a></li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="mailto:pardhu1212@gmail.com" class="text-white" target="_blank">Email</a></li>
        </ul>
      </div>
    </div>
    <!-- .full-width here gets closed on support-page.html and home.html layouts -->
