<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="3dVARbglAN37iQky98_XcrhKKQemd16re0YY6kMOkZE" />
    <meta name="theme-color" content="#0366d6">
<!--     Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GPBWW94V7C"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-GPBWW94V7C');
    </script>
    <link rel="shortcut icon" href="/assets/img/favicon.webp" type="image/webp">
    <link rel="icon" type="image/webp" href="/assets/img/android-chrome-192x192.webp" sizes="192x192">
    <link rel="apple-touch-icon" type="image/png" href="/assets/img/apple-touch-icon.png" sizes="180x180">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="manifest" href="/asset-manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Monoton&family=Roboto:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">
    {% seo %}
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">

<header>
  <div class="page-header pt-3 pb-3">
    <div class="header-container vertical-center text-center--only-mobile">
        <a class="header-logo text-center" href="/">PM</a>
        <br class="only-if-mobile">
        {% if page.title.size < 25 %}
        <span class="text-white title-text">{{ page.title }}</span>
        {% else %}
        <span class="text-white title-text-small">{{ page.title }}</span>
        {% endif %}
        <br class="only-if-mobile">
        <span class="float-right--not-mobile text-white vertical-middle">
            {% assign sorted_list = site.html_pages | sort: 'menuorder' | where: "menu", "true" %}
            {% for page in sorted_list %}
            <a href="{{ page.permalink }}" class="text-white px-md-2" >{{ page.menuname }}</a>
            {% if page.menuorder != sorted_list.size %}
            <span class="only-if-mobile">|</span>
            {% endif %}
            {% endfor %}
        </span>
    </div>
  </div>
</header>
<main> <!-- must be closed in the footer -->